<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="MYSQL_CONNECTION_STRING" value="dev"/>
  </appSettings>
  <connectionStrings>
	<add name="Questionable" connectionString="Server=(localdb)\\MSSQLLocalDB;Database=Questionable;Trusted_Connection=True;MultipleActiveResultSets=true"/>
  </connectionStrings>
</configuration>